{% extends 'base.html.twig' %}

{% block body %}
  <div style="padding-left:260px;">
    <li>Username : {{ Username }}</li>
    <li>Email : {{ Email }}</li>
    <li>Dernière connexion : {{ LastConnexion|date("d/m/Y à h:i") }}</li>
  </div>
{% endblock %}
